@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

body {

  background-color:black;

  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  height: 500px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .slide-container {
    width: 300px;
    height: 200px;
  }
  .slide-container img{
    width: 300px !important;
    height: 360px;
    top: 0 !important;
    left: 0 !important;
    position: absolute;
  }
  .clash-card__image--econo1 img{
    height: 300px;      
  }
  .slick-prev {
    left: -25px !important; 
    top: 190px;
    z-index: 999;
  }

  .slick-next {
    right: -25px !important;
    top: 190px;
    z-index: 999;
  }

}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper:focus {
  outline: 0;
}

.clash-card {
  width: 300px;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  z-index: 9999;
}

.clash-card__image {
  position: relative;
  text-align: center;
  height: 400px;
}

.clash-card__image--econo1 img {
  width: 400px;
  top: 20px;
  left: -50px;
  position: absolute;

}

.clash-card__image--econo2 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;

}

.clash-card__image--econo3 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;

}

.clash-card__image--econo4 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;

}

.clash-card__image--econo5 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--econo6 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--econo7 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clash-card__image--econo8 img {
  width: 400px;
  top: -20px;
  left: -50px;
  position: absolute;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 20px;
  z-index: 999;
}

.slick-next {
  right: 20px;
  z-index: 999;
}
