@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(top, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/coc-background.jpg") no-repeat center center fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}

.slide-container {
  margin: auto;
  width: 600px;
  height: 500px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .slide-container {
    width: 300px;
    height: 300px;
  }
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper:focus {
  outline: 0;
}

.clash-card {
  width: 300px;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  z-index: 9999;
}
.clash-card img {
  width: 100%;
  height: 100%;
  top: 0;
  left: -50px;
}
.clash-card__image {
  position: relative;
  text-align: center;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 20px;
  z-index: 999;
}

.slick-next {
  right: 20px;
  z-index: 999;
}
